<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="full_rover_assembly_urdf">

<xacro:include filename="$(find full_rover_assembly)/urdf/links_joints.xacro"/>

  
  <link
    name="base_rover_1">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.8" />
      <inertia ixx="0.095684"
               ixy="0"
               ixz="-0.00027184"
               iyy="0"
               iyz="0"
               izz="0.14455" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_rover_assembly_urdf/meshes/base_rover_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_rover_assembly_urdf/meshes/base_rover_1.STL" />
      </geometry>
    </collision>
  </link>

<m_wheel_link name="wheel_1" origin_xyz="-0.063397 -4.4964E-15 1.4988E-15" ixx="0.062324"
        ixy="4.8469E-07"
        ixz="-1.0587E-06"
        iyy="0.037901"
        iyz="6.9389E-18"
        izz="0.037901" />



<m_wheel_joint name="joint_w1" origin_xyz="0.373705519949924 -0.333276944984588 -0.0128821732436576" origin_rpy="-2.57071455235077 0 1.5707963267949" child="wheel_1" axis="1 0 0"/>
  
<m_wheel_link name="wheel_2" origin_xyz="-0.063397 3.9968E-15 9.253E-10" ixx="0.062324"
        ixy="-1.1644E-06"
        ixz="-6.9654E-10"
        iyy="0.037901"
        iyz="1.6994E-14"
        izz="0.037901" />



<m_wheel_joint name="joint_w2" origin_xyz="-0.0882727119071309 -0.333276944984562 -0.0481207258492364" origin_rpy="-0.0485724166465315 0 1.57079632750354" child="wheel_2" axis="1 0 0"/>

<m_wheel_link name="wheel_3" origin_xyz="-0.063397 1.9467E-13 -1.3256E-13" ixx="0.062324"
        ixy="-1.1644E-06"
        ixz="-3.4009E-10"
        iyy="0.037901"
        iyz="2.1249E-20"
        izz="0.037901" />


<m_wheel_joint name="joint_w3" origin_xyz="-0.441256611089257 -0.333276944984561 -0.0514922118987491" origin_rpy="1.5707963267949 0 1.5707963267949" child="wheel_3" axis="1 0 0"/>

<m_wheel_link name="wheel_4" origin_xyz="0.060603 -1.3294E-13 -3.9635E-14" ixx="0.062324"
        ixy="8.2245E-07"
        ixz="8.2424E-07"
        iyy="0.037901"
        iyz="-2.6021E-18"
        izz="0.037901" />

  <m_wheel_joint name="joint_w4" origin_xyz="0.349142456408795 -1.29967694498458 -0.0366791162624158" origin_rpy="-1.96389113722142 0 -1.5707963267949" child="wheel_4" axis="-1 0 0"/>


  <m_wheel_link name="wheel_5" origin_xyz="0.060603 2.1788E-14 1.6598E-14" ixx="0.062324"
        ixy="8.2245E-07"
        ixz="8.2424E-07"
        iyy="0.037901"
        iyz="-8.6736E-19"
        izz="0.037901" />

<m_wheel_joint name="joint_w5" origin_xyz="-0.0856865365698763 -1.29967694498458 -0.00527252429838212" origin_rpy="-1.96389113722143 0 -1.5707963267949" child="wheel_5" axis="-1 0 0"/>



  <m_wheel_link name="wheel_6" origin_xyz="0.060603 1.4413E-13 8.2656E-14" ixx="0.062324"
        ixy="8.2245E-07"
        ixz="8.2424E-07"
        iyy="0.037901"
        iyz="-3.4694E-18"
        izz="0.037901" />

  <m_wheel_joint name="joint_w6" origin_xyz="-0.436966864880414 -1.29967694498458 -0.0400738309123618" origin_rpy="-1.96389113722143 0 -1.5707963267949" child="wheel_6" axis="-1 0 0"/>


<m_wheel_transmission trans_name="$wheel1_trans" actuator_name="$wheel1_motor" joint_name="joint_w1"/>
<m_wheel_transmission trans_name="$wheel2_trans" actuator_name="$wheel2_motor" joint_name="joint_w2"/>
<m_wheel_transmission trans_name="$wheel3_trans" actuator_name="$wheel3_motor" joint_name="joint_w3"/>
<m_wheel_transmission trans_name="$wheel4_trans" actuator_name="$wheel4_motor" joint_name="joint_w4"/>
<m_wheel_transmission trans_name="$wheel5_trans" actuator_name="$wheel5_motor" joint_name="joint_w5"/>
<m_wheel_transmission trans_name="$wheel6_trans" actuator_name="$wheel6_motor" joint_name="joint_w6"/>


<!-- IMU implementation -->
<link name="imu_link">
</link>
<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
<joint name="imu_joint" type="fixed">
<parent link="base_rover_1"/>
<child link="imu_link"/>
</joint>

<gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>


  <!-- GPS implementation on rover -->

<gazebo>
  <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
    <updateRate>10.0</updateRate>
    <bodyName>base_rover_1</bodyName>
    <frameId>base_rover_1</frameId>
    <topicName>/gps/fix</topicName>
    <velocityTopicName>/gps/fix_velocity</velocityTopicName>
    <referenceLatitude>31.7754</referenceLatitude>
    <referenceLongitude>76.9861</referenceLongitude>
    <referenceHeading>20</referenceHeading>
    <referenceAltitude>10</referenceAltitude>
    <offset>0 0 0</offset>
    <drift>0 0 0</drift>
    <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
    <velocityDrift>0.0001 0.0001 0.0001</velocityDrift>
    <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
</plugin>
</gazebo>

<!-- Camera plugin -->
<gazebo reference="base_rover_1">
  <sensor name="kinect_camera" type="depth">
    <update_rate>20</update_rate>
    <camera>
      <horizontal_fov>1.047198</horizontal_fov>
      <image>
        <width>1920</width>
        <height>1080</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.05</near>
        <far>30</far>
      </clip>
    </camera>
    <plugin name="kinect_controller" filename="libgazebo_ros_openni_kinect.so">
      <baseline>0.2</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <cameraName>camera_ir</cameraName>
      <imageTopicName>/camera/color/image_raw</imageTopicName>
      <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
      <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
      <depthImageInfoTopicName>/camera/depth/camera_info</depthImageInfoTopicName>
      <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
      <frameName>camera</frameName>
      <pointCloudCutoff>0.5</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0.00000001</distortionK1>
      <distortionK2>0.00000001</distortionK2>
      <distortionK3>0.00000001</distortionK3>
      <distortionT1>0.00000001</distortionT1>
      <distortionT2>0.00000001</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
  </sensor>
</gazebo>



  <gazebo>
    <plugin name="gazebo_ros_control" filename= "libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>


</robot>